h1 {
  font-size: 1.7rem;
}

.el-main {
  padding: 15px;
}

.wrapper {
  padding: 0 20px;
  min-height: calc(100vh - 265px);
}

.content-wrapper {
  padding: 0 20px;
  min-height: calc(100vh - 180px);
}

.main-row {
  width: 100%;
}

.el-card.yellow {
  background-color: #fff310;
}

.el-card.green {
  background-color: #77dd86;
}

.el-card.grey {
  background-color: #c8c2b4;
}

.el-card.blue {
  background-color: #62c3fc;
}

.el-image-viewer__close {
  color: #fff;
}

.text-center {
  text-align: center;
}

.break-word {
  word-break: break-word;
}

.noScroll {
  position: fixed;
  overflow: hidden;
}

.psalms-search.mobile.sticky .el-input__inner {
  height: 30px;
}

.psalms-search.mobile.sticky .el-input__prefix {
  left: 25px;
}

.logout button span {
  font-size: 12px;
}

.top-bar.mobile .el-page-header__content {
    font-size: 14px;
}

.top-bar.mobile .el-page-header__left {
  margin-right: 20px;
}

.top-bar.mobile .el-page-header__left .el-icon-back {
  font-size: 15px;
}

.top-bar.mobile .el-page-header__title {
  font-size: 10px;
}

.top-bar.mobile .el-page-header__left::after {
  right: -10px;
}

.top-bar.mobile .logout button span {
  margin-left: 0;
}

@media (max-width: 1024px) {
  .logout button span {
    margin-left: 0 !important;
  }
}
